.container {
  display: flex;
  padding: 10px;
  border: 1px solid var(--color-border);
}

.table,
.table th,
.table td {
  border: 1px solid var(--color-border);
  padding: 10px;
}

.state {
  text-align: left;
}
